<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.it.mapper.CompanyReceiveResumeRecordMapper" >
  <resultMap id="BaseResultMap" type="com.it.pojo.CompanyReceiveResumeRecord" >
    
    <id column="company_receive_resume_record_id" property="companyReceiveResumeRecordId" jdbcType="INTEGER" />
    <result column="company_id" property="companyId" jdbcType="INTEGER" />
    <result column="resume_id" property="resumeId" jdbcType="INTEGER" />
    <result column="receive_time" property="receiveTime" jdbcType="TIMESTAMP" />
    <result column="company_admin_id" property="companyAdminId" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="other1" property="other1" jdbcType="VARCHAR" />
    <result column="other2" property="other2" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
     
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
     
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
     
    company_receive_resume_record_id, company_id, resume_id, receive_time, company_admin_id, 
    status, other1, other2
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.it.pojo.CompanyReceiveResumeRecordExample" >
     
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from company_receive_resume_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
     
    select 
    <include refid="Base_Column_List" />
    from company_receive_resume_record
    where company_receive_resume_record_id = #{companyReceiveResumeRecordId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
     
    delete from company_receive_resume_record
    where company_receive_resume_record_id = #{companyReceiveResumeRecordId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.it.pojo.CompanyReceiveResumeRecordExample" >
     
    delete from company_receive_resume_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.it.pojo.CompanyReceiveResumeRecord" >
     
    insert into company_receive_resume_record (company_receive_resume_record_id, company_id, 
      resume_id, receive_time, company_admin_id, 
      status, other1, other2
      )
    values (#{companyReceiveResumeRecordId,jdbcType=INTEGER}, #{companyId,jdbcType=INTEGER}, 
      #{resumeId,jdbcType=INTEGER}, #{receiveTime,jdbcType=TIMESTAMP}, #{companyAdminId,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{other1,jdbcType=VARCHAR}, #{other2,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.it.pojo.CompanyReceiveResumeRecord" >
     
    insert into company_receive_resume_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="companyReceiveResumeRecordId != null" >
        company_receive_resume_record_id,
      </if>
      <if test="companyId != null" >
        company_id,
      </if>
      <if test="resumeId != null" >
        resume_id,
      </if>
      <if test="receiveTime != null" >
        receive_time,
      </if>
      <if test="companyAdminId != null" >
        company_admin_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="other1 != null" >
        other1,
      </if>
      <if test="other2 != null" >
        other2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="companyReceiveResumeRecordId != null" >
        #{companyReceiveResumeRecordId,jdbcType=INTEGER},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="resumeId != null" >
        #{resumeId,jdbcType=INTEGER},
      </if>
      <if test="receiveTime != null" >
        #{receiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="companyAdminId != null" >
        #{companyAdminId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="other1 != null" >
        #{other1,jdbcType=VARCHAR},
      </if>
      <if test="other2 != null" >
        #{other2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.it.pojo.CompanyReceiveResumeRecordExample" resultType="java.lang.Integer" >
     
    select count(*) from company_receive_resume_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
     
    update company_receive_resume_record
    <set >
      <if test="record.companyReceiveResumeRecordId != null" >
        company_receive_resume_record_id = #{record.companyReceiveResumeRecordId,jdbcType=INTEGER},
      </if>
      <if test="record.companyId != null" >
        company_id = #{record.companyId,jdbcType=INTEGER},
      </if>
      <if test="record.resumeId != null" >
        resume_id = #{record.resumeId,jdbcType=INTEGER},
      </if>
      <if test="record.receiveTime != null" >
        receive_time = #{record.receiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.companyAdminId != null" >
        company_admin_id = #{record.companyAdminId,jdbcType=INTEGER},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.other1 != null" >
        other1 = #{record.other1,jdbcType=VARCHAR},
      </if>
      <if test="record.other2 != null" >
        other2 = #{record.other2,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
     
    update company_receive_resume_record
    set company_receive_resume_record_id = #{record.companyReceiveResumeRecordId,jdbcType=INTEGER},
      company_id = #{record.companyId,jdbcType=INTEGER},
      resume_id = #{record.resumeId,jdbcType=INTEGER},
      receive_time = #{record.receiveTime,jdbcType=TIMESTAMP},
      company_admin_id = #{record.companyAdminId,jdbcType=INTEGER},
      status = #{record.status,jdbcType=INTEGER},
      other1 = #{record.other1,jdbcType=VARCHAR},
      other2 = #{record.other2,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.it.pojo.CompanyReceiveResumeRecord" >
     
    update company_receive_resume_record
    <set >
      <if test="companyId != null" >
        company_id = #{companyId,jdbcType=INTEGER},
      </if>
      <if test="resumeId != null" >
        resume_id = #{resumeId,jdbcType=INTEGER},
      </if>
      <if test="receiveTime != null" >
        receive_time = #{receiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="companyAdminId != null" >
        company_admin_id = #{companyAdminId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="other1 != null" >
        other1 = #{other1,jdbcType=VARCHAR},
      </if>
      <if test="other2 != null" >
        other2 = #{other2,jdbcType=VARCHAR},
      </if>
    </set>
    where company_receive_resume_record_id = #{companyReceiveResumeRecordId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.it.pojo.CompanyReceiveResumeRecord" >
     
    update company_receive_resume_record
    set company_id = #{companyId,jdbcType=INTEGER},
      resume_id = #{resumeId,jdbcType=INTEGER},
      receive_time = #{receiveTime,jdbcType=TIMESTAMP},
      company_admin_id = #{companyAdminId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      other1 = #{other1,jdbcType=VARCHAR},
      other2 = #{other2,jdbcType=VARCHAR}
    where company_receive_resume_record_id = #{companyReceiveResumeRecordId,jdbcType=INTEGER}
  </update>
</mapper>